extends layout

block content
    a(class='btn btn-info', href='app/index.html') Home
    h1 Your edited document may be downloaded from
    p raw path is #{result}
    a(href='#{result}' download) result
