@page {
    size: A4 portrait;
}

body {
    counter-reset: h1 h2 h3 h4 h5 h6 figure table;
    margin-bottom: 12.10084%;
    margin-left: 15.12605%;
    margin-right: 15.12605%;
    margin-top: 12.10084%;
}

caption {
    -corinthia-display-name: "caption";
    -corinthia-next: "p.Normal";
    -corinthia-parent: "p.Normal";
    color: #4F81BD;
    font-size: 9pt;
    font-weight: bold;
    margin-bottom: 10pt;
}

figcaption {
    counter-increment: figure;
}

figcaption::before {
    content: "Figure " counter(figure) ": ";
}

p.Balloon_Text {
    -corinthia-display-name: "Balloon Text";
    -corinthia-parent: "p.Normal";
    font-family: "Lucida Grande";
    font-size: 9pt;
}

p.Normal {
    -corinthia-default: true;
    -corinthia-display-name: "Normal";
}

span.Balloon_Text_Char {
    -corinthia-display-name: "Balloon Text Char";
    -corinthia-parent: "span.Default_Paragraph_Font";
    font-family: "Lucida Grande";
    font-size: 9pt;
}

span.Default_Paragraph_Font {
    -corinthia-default: true;
    -corinthia-display-name: "Default Paragraph Font";
}

table.Normal_Table {
    -corinthia-default: true;
    -corinthia-display-name: "Normal Table";
}

table.Normal_Table > * > tr > td {
    padding-bottom: 0pt;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0pt;
}
